In [94]:
#importing liabraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [95]:
#read and load data to df

df=pd.read_csv("raw_messy_dataset.csv")
df

,Name,Age,Gender,Email,Join_Date,Salary,Department
0,Alice,NaN,NaN,user0@example.com,2021-05-21,NaN,Admin
1,Bob,40,M,user1@example.com,NaN,50000,Engineering
2,Charlie,unknown,Male,user2@example.com,2020/01/01,50000,HR
3,David,NaN,NaN,user3@example.com,2021-05-21,70000,Admin
4,Eva,35,Other,user4@example.com,"July 4, 2020",70000,Engineering
...,...,...,...,...,...,...,...
100,Alice,NaN,NaN,user0@example.com,2021-05-21,NaN,Admin
101,Bob,40,M,user1@example.com,NaN,50000,Engineering
102,Charlie,unknown,Male,user2@example.com,2020/01/01,50000,HR
103,David,NaN,NaN,user3@example.com,2021-05-21,70000,Admin
104,Eva,35,Other,user4@example.com,"July 4, 2020",70000,Engineering

In [96]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        105 non-null    object
 1   Age         72 non-null     object
 2   Gender      89 non-null     object
 3   Email       95 non-null     object
 4   Join_Date   70 non-null     object
 5   Salary      78 non-null     object
 6   Department  89 non-null     object
dtypes: object(7)
memory usage: 5.9+ KB

In [97]:
#searching count of duplicates

print(df.duplicated().sum())

5

In [98]:
# remaoving duplcates

df.drop_duplicates(inplace=True)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        100 non-null    object
 1   Age         69 non-null     object
 2   Gender      86 non-null     object
 3   Email       90 non-null     object
 4   Join_Date   66 non-null     object
 5   Salary      74 non-null     object
 6   Department  84 non-null     object
dtypes: object(7)
memory usage: 6.2+ KB

In [100]:

#handling Age

df["Age"]=pd.to_numeric(df["Age"],errors="coerce")
x = df["Age"].median()
df["Age"].fillna(x, inplace = True) 
print(df.to_string())

       Name   Age  Gender               Email     Join_Date   Salary   Department
0     Alice  35.0     NaN   user0@example.com    2021-05-21      NaN        Admin
1       Bob  40.0       M   user1@example.com           NaN    50000  Engineering
2   Charlie  35.0    Male   user2@example.com    2020/01/01    50000           HR
3     David  35.0     NaN   user3@example.com    2021-05-21    70000        Admin
4       Eva  35.0   Other   user4@example.com  July 4, 2020    70000  Engineering
5     Frank  35.0   Other   user5@example.com           NaN    70000        Admin
6     Grace  35.0  Female   user6@example.com  July 4, 2020    80000  Engineering
7    Hannah  35.0   Other   user7@example.com    2021-05-21      NaN           HR
8       Ivy  30.0  Female   user8@example.com           NaN    50000  Engineering
9      Jack  35.0    Male   user9@example.com    2020/01/01    80000  Engineering
10    Alice  35.0       M  user10@example.com    2021-05-21    70000  Engineering
11      Bob  35.0       M  user11@example.com  July 4, 2020    50000        Sales
12  Charlie  35.0       M  user12@example.com    22-06-2022    80000        Sales
13    David  35.0   Other  user13@example.com           NaN      NaN        Sales
14      Eva  40.0    Male  user14@example.com  July 4, 2020    80000           HR
15    Frank  35.0   Other  user15@example.com           NaN      NaN        Admin
16    Grace  35.0   Other  user16@example.com    2021-05-21    70000          NaN
17   Hannah  35.0    Male  user17@example.com           NaN      NaN  Engineering
18      Ivy  30.0    Male  user18@example.com    2021-05-21    50000  Engineering
19     Jack  40.0    Male  user19@example.com           NaN    70000           HR
20    Alice  35.0    Male  user20@example.com    2021-05-21    50000  Engineering
21      Bob  35.0       M  user21@example.com    22-06-2022  unknown        Sales
22  Charlie  30.0       F  user22@example.com           NaN    60000          NaN
23    David  40.0       F  user23@example.com           NaN      NaN    Marketing
24      Eva  35.0    Male  user24@example.com           NaN    60000  Engineering
25    Frank  25.0       F  user25@example.com    22-06-2022    60000        Sales
26    Grace  40.0       F  user26@example.com  July 4, 2020      NaN    Marketing
27   Hannah  30.0    Male  user27@example.com    2021-05-21    70000          NaN
28      Ivy  35.0       F  user28@example.com    2020/01/01  unknown    Marketing
29     Jack  35.0   Other  user29@example.com    2021-05-21    50000        Sales
30    Alice  40.0  Female  user30@example.com    2021-05-21    80000        Admin
31      Bob  25.0  Female  user31@example.com  July 4, 2020    50000        Admin
32  Charlie  25.0    Male  user32@example.com    2021-05-21    80000    Marketing
33    David  35.0       M  user33@example.com    22-06-2022    50000           HR
34      Eva  35.0    Male  user34@example.com    22-06-2022      NaN    Marketing
35    Frank  35.0       M  user35@example.com           NaN  unknown  Engineering
36    Grace  30.0  Female  user36@example.com           NaN    80000  Engineering
37   Hannah  40.0    Male  user37@example.com    2020/01/01      NaN        Admin
38      Ivy  40.0     NaN  user38@example.com    2021-05-21    70000           HR
39     Jack  35.0   Other  user39@example.com    2021-05-21    50000        Sales
40    Alice  35.0       F  user40@example.com  July 4, 2020    50000  Engineering
41      Bob  35.0       M  user41@example.com           NaN    80000        Admin
42  Charlie  35.0     NaN  user42@example.com    22-06-2022    70000          NaN
43    David  35.0       F  user43@example.com    2020/01/01    70000        Admin
44      Eva  35.0       F  user44@example.com           NaN      NaN  Engineering
45    Frank  40.0    Male  user45@example.com    22-06-2022      NaN  Engineering
46    Grace  35.0       F  user46@example.com           NaN      NaN        Admin
47   Hannah  40.0   Other  user47@example.com           NaN      NaN        Sales
48      Ivy  25.0     NaN  user48@example.com  July 4, 2020      NaN    Marketing
49     Jack  35.0       F  user49@example.com  July 4, 2020      NaN  Engineering
50    Alice  35.0    Male  user50@example.com    2021-05-21      NaN        Admin
51      Bob  35.0   Other  user51@example.com           NaN  unknown        Admin
52  Charlie  35.0  Female  user52@example.com    2020/01/01    70000           HR
53    David  35.0     NaN  user53@example.com           NaN      NaN    Marketing
54      Eva  25.0       F  user54@example.com    22-06-2022    70000          NaN
55    Frank  35.0    Male  user55@example.com           NaN    70000        Sales
56    Grace  30.0  Female  user56@example.com           NaN    60000          NaN
57   Hannah  40.0  Female  user57@example.com  July 4, 2020  unknown    Marketing
58      Ivy  25.0       M  user58@example.com    2021-05-21      NaN    Marketing
59     Jack  40.0   Other  user59@example.com    2021-05-21    50000    Marketing
60    Alice  35.0       F  user60@example.com           NaN    80000          NaN
61      Bob  30.0    Male  user61@example.com  July 4, 2020      NaN    Marketing
62  Charlie  30.0       M  user62@example.com           NaN    50000        Admin
63    David  25.0   Other  user63@example.com    2020/01/01  unknown          NaN
64      Eva  30.0       M  user64@example.com  July 4, 2020    80000    Marketing
65    Frank  35.0     NaN  user65@example.com           NaN  unknown        Admin
66    Grace  30.0   Other  user66@example.com           NaN    70000           HR
67   Hannah  40.0   Other  user67@example.com  July 4, 2020    80000    Marketing
68      Ivy  40.0       F  user68@example.com           NaN    70000          NaN
69     Jack  35.0   Other  user69@example.com  July 4, 2020    50000  Engineering
70    Alice  40.0       M  user70@example.com    22-06-2022    50000    Marketing
71      Bob  35.0   Other  user71@example.com  July 4, 2020    80000  Engineering
72  Charlie  40.0       F  user72@example.com  July 4, 2020    80000        Admin
73    David  35.0       F  user73@example.com           NaN      NaN           HR
74      Eva  35.0     NaN  user74@example.com           NaN  unknown        Sales
75    Frank  35.0       M  user75@example.com    2021-05-21      NaN           HR
76    Grace  35.0  Female  user76@example.com    2021-05-21  unknown    Marketing
77   Hannah  25.0  Female  user77@example.com    22-06-2022      NaN  Engineering
78      Ivy  40.0   Other  user78@example.com    2021-05-21    70000  Engineering
79     Jack  30.0     NaN  user79@example.com  July 4, 2020    80000          NaN
80    Alice  40.0    Male  user80@example.com           NaN    50000  Engineering
81      Bob  30.0   Other  user81@example.com    2021-05-21  unknown          NaN
82  Charlie  35.0     NaN  user82@example.com    2021-05-21  unknown        Admin
83    David  35.0       M  user83@example.com    22-06-2022    50000        Sales
84      Eva  35.0       M  user84@example.com           NaN      NaN    Marketing
85    Frank  30.0       M  user85@example.com    22-06-2022  unknown          NaN
86    Grace  40.0       M  user86@example.com  July 4, 2020      NaN        Sales
87   Hannah  35.0       M  user87@example.com           NaN    70000  Engineering
88      Ivy  35.0     NaN  user88@example.com    22-06-2022    80000  Engineering
89     Jack  35.0     NaN  user89@example.com    2021-05-21    50000        Sales
90    Alice  30.0       F                 NaN           NaN    80000  Engineering
91      Bob  30.0  Female                 NaN           NaN      NaN        Admin
92  Charlie  40.0       M                 NaN    2021-05-21  unknown        Admin
93    David  30.0    Male                 NaN    22-06-2022  unknown        Sales
94      Eva  30.0     NaN                 NaN    2021-05-21      NaN          NaN
95    Frank  35.0    Male                 NaN           NaN    50000          NaN
96    Grace  40.0    Male                 NaN           NaN    70000        Sales
97   Hannah  35.0    Male                 NaN    2020/01/01    60000          NaN
98      Ivy  35.0       F                 NaN    2020/01/01    50000          NaN
99     Jack  35.0     NaN                 NaN  July 4, 2020    60000        Admin

C:\Users\shrdd\AppData\Local\Temp\ipykernel_16884\220749183.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(x, inplace = True)

In [101]:
 #Standerized gender column using replace 
df['Gender'] = df['Gender'].replace({
     'M': 'Male', 'F': 'Female',' ':'None' 
})
print(df.to_string())

       Name   Age  Gender               Email     Join_Date   Salary   Department
0     Alice  35.0     NaN   user0@example.com    2021-05-21      NaN        Admin
1       Bob  40.0    Male   user1@example.com           NaN    50000  Engineering
2   Charlie  35.0    Male   user2@example.com    2020/01/01    50000           HR
3     David  35.0     NaN   user3@example.com    2021-05-21    70000        Admin
4       Eva  35.0   Other   user4@example.com  July 4, 2020    70000  Engineering
5     Frank  35.0   Other   user5@example.com           NaN    70000        Admin
6     Grace  35.0  Female   user6@example.com  July 4, 2020    80000  Engineering
7    Hannah  35.0   Other   user7@example.com    2021-05-21      NaN           HR
8       Ivy  30.0  Female   user8@example.com           NaN    50000  Engineering
9      Jack  35.0    Male   user9@example.com    2020/01/01    80000  Engineering
10    Alice  35.0    Male  user10@example.com    2021-05-21    70000  Engineering
11      Bob  35.0    Male  user11@example.com  July 4, 2020    50000        Sales
12  Charlie  35.0    Male  user12@example.com    22-06-2022    80000        Sales
13    David  35.0   Other  user13@example.com           NaN      NaN        Sales
14      Eva  40.0    Male  user14@example.com  July 4, 2020    80000           HR
15    Frank  35.0   Other  user15@example.com           NaN      NaN        Admin
16    Grace  35.0   Other  user16@example.com    2021-05-21    70000          NaN
17   Hannah  35.0    Male  user17@example.com           NaN      NaN  Engineering
18      Ivy  30.0    Male  user18@example.com    2021-05-21    50000  Engineering
19     Jack  40.0    Male  user19@example.com           NaN    70000           HR
20    Alice  35.0    Male  user20@example.com    2021-05-21    50000  Engineering
21      Bob  35.0    Male  user21@example.com    22-06-2022  unknown        Sales
22  Charlie  30.0  Female  user22@example.com           NaN    60000          NaN
23    David  40.0  Female  user23@example.com           NaN      NaN    Marketing
24      Eva  35.0    Male  user24@example.com           NaN    60000  Engineering
25    Frank  25.0  Female  user25@example.com    22-06-2022    60000        Sales
26    Grace  40.0  Female  user26@example.com  July 4, 2020      NaN    Marketing
27   Hannah  30.0    Male  user27@example.com    2021-05-21    70000          NaN
28      Ivy  35.0  Female  user28@example.com    2020/01/01  unknown    Marketing
29     Jack  35.0   Other  user29@example.com    2021-05-21    50000        Sales
30    Alice  40.0  Female  user30@example.com    2021-05-21    80000        Admin
31      Bob  25.0  Female  user31@example.com  July 4, 2020    50000        Admin
32  Charlie  25.0    Male  user32@example.com    2021-05-21    80000    Marketing
33    David  35.0    Male  user33@example.com    22-06-2022    50000           HR
34      Eva  35.0    Male  user34@example.com    22-06-2022      NaN    Marketing
35    Frank  35.0    Male  user35@example.com           NaN  unknown  Engineering
36    Grace  30.0  Female  user36@example.com           NaN    80000  Engineering
37   Hannah  40.0    Male  user37@example.com    2020/01/01      NaN        Admin
38      Ivy  40.0     NaN  user38@example.com    2021-05-21    70000           HR
39     Jack  35.0   Other  user39@example.com    2021-05-21    50000        Sales
40    Alice  35.0  Female  user40@example.com  July 4, 2020    50000  Engineering
41      Bob  35.0    Male  user41@example.com           NaN    80000        Admin
42  Charlie  35.0     NaN  user42@example.com    22-06-2022    70000          NaN
43    David  35.0  Female  user43@example.com    2020/01/01    70000        Admin
44      Eva  35.0  Female  user44@example.com           NaN      NaN  Engineering
45    Frank  40.0    Male  user45@example.com    22-06-2022      NaN  Engineering
46    Grace  35.0  Female  user46@example.com           NaN      NaN        Admin
47   Hannah  40.0   Other  user47@example.com           NaN      NaN        Sales
48      Ivy  25.0     NaN  user48@example.com  July 4, 2020      NaN    Marketing
49     Jack  35.0  Female  user49@example.com  July 4, 2020      NaN  Engineering
50    Alice  35.0    Male  user50@example.com    2021-05-21      NaN        Admin
51      Bob  35.0   Other  user51@example.com           NaN  unknown        Admin
52  Charlie  35.0  Female  user52@example.com    2020/01/01    70000           HR
53    David  35.0     NaN  user53@example.com           NaN      NaN    Marketing
54      Eva  25.0  Female  user54@example.com    22-06-2022    70000          NaN
55    Frank  35.0    Male  user55@example.com           NaN    70000        Sales
56    Grace  30.0  Female  user56@example.com           NaN    60000          NaN
57   Hannah  40.0  Female  user57@example.com  July 4, 2020  unknown    Marketing
58      Ivy  25.0    Male  user58@example.com    2021-05-21      NaN    Marketing
59     Jack  40.0   Other  user59@example.com    2021-05-21    50000    Marketing
60    Alice  35.0  Female  user60@example.com           NaN    80000          NaN
61      Bob  30.0    Male  user61@example.com  July 4, 2020      NaN    Marketing
62  Charlie  30.0    Male  user62@example.com           NaN    50000        Admin
63    David  25.0   Other  user63@example.com    2020/01/01  unknown          NaN
64      Eva  30.0    Male  user64@example.com  July 4, 2020    80000    Marketing
65    Frank  35.0     NaN  user65@example.com           NaN  unknown        Admin
66    Grace  30.0   Other  user66@example.com           NaN    70000           HR
67   Hannah  40.0   Other  user67@example.com  July 4, 2020    80000    Marketing
68      Ivy  40.0  Female  user68@example.com           NaN    70000          NaN
69     Jack  35.0   Other  user69@example.com  July 4, 2020    50000  Engineering
70    Alice  40.0    Male  user70@example.com    22-06-2022    50000    Marketing
71      Bob  35.0   Other  user71@example.com  July 4, 2020    80000  Engineering
72  Charlie  40.0  Female  user72@example.com  July 4, 2020    80000        Admin
73    David  35.0  Female  user73@example.com           NaN      NaN           HR
74      Eva  35.0     NaN  user74@example.com           NaN  unknown        Sales
75    Frank  35.0    Male  user75@example.com    2021-05-21      NaN           HR
76    Grace  35.0  Female  user76@example.com    2021-05-21  unknown    Marketing
77   Hannah  25.0  Female  user77@example.com    22-06-2022      NaN  Engineering
78      Ivy  40.0   Other  user78@example.com    2021-05-21    70000  Engineering
79     Jack  30.0     NaN  user79@example.com  July 4, 2020    80000          NaN
80    Alice  40.0    Male  user80@example.com           NaN    50000  Engineering
81      Bob  30.0   Other  user81@example.com    2021-05-21  unknown          NaN
82  Charlie  35.0     NaN  user82@example.com    2021-05-21  unknown        Admin
83    David  35.0    Male  user83@example.com    22-06-2022    50000        Sales
84      Eva  35.0    Male  user84@example.com           NaN      NaN    Marketing
85    Frank  30.0    Male  user85@example.com    22-06-2022  unknown          NaN
86    Grace  40.0    Male  user86@example.com  July 4, 2020      NaN        Sales
87   Hannah  35.0    Male  user87@example.com           NaN    70000  Engineering
88      Ivy  35.0     NaN  user88@example.com    22-06-2022    80000  Engineering
89     Jack  35.0     NaN  user89@example.com    2021-05-21    50000        Sales
90    Alice  30.0  Female                 NaN           NaN    80000  Engineering
91      Bob  30.0  Female                 NaN           NaN      NaN        Admin
92  Charlie  40.0    Male                 NaN    2021-05-21  unknown        Admin
93    David  30.0    Male                 NaN    22-06-2022  unknown        Sales
94      Eva  30.0     NaN                 NaN    2021-05-21      NaN          NaN
95    Frank  35.0    Male                 NaN           NaN    50000          NaN
96    Grace  40.0    Male                 NaN           NaN    70000        Sales
97   Hannah  35.0    Male                 NaN    2020/01/01    60000          NaN
98      Ivy  35.0  Female                 NaN    2020/01/01    50000          NaN
99     Jack  35.0     NaN                 NaN  July 4, 2020    60000        Admin

In [102]:

df['Email'].fillna("-",inplace=True)
print(df.to_string())

       Name   Age  Gender               Email     Join_Date   Salary   Department
0     Alice  35.0     NaN   user0@example.com    2021-05-21      NaN        Admin
1       Bob  40.0    Male   user1@example.com           NaN    50000  Engineering
2   Charlie  35.0    Male   user2@example.com    2020/01/01    50000           HR
3     David  35.0     NaN   user3@example.com    2021-05-21    70000        Admin
4       Eva  35.0   Other   user4@example.com  July 4, 2020    70000  Engineering
5     Frank  35.0   Other   user5@example.com           NaN    70000        Admin
6     Grace  35.0  Female   user6@example.com  July 4, 2020    80000  Engineering
7    Hannah  35.0   Other   user7@example.com    2021-05-21      NaN           HR
8       Ivy  30.0  Female   user8@example.com           NaN    50000  Engineering
9      Jack  35.0    Male   user9@example.com    2020/01/01    80000  Engineering
10    Alice  35.0    Male  user10@example.com    2021-05-21    70000  Engineering
11      Bob  35.0    Male  user11@example.com  July 4, 2020    50000        Sales
12  Charlie  35.0    Male  user12@example.com    22-06-2022    80000        Sales
13    David  35.0   Other  user13@example.com           NaN      NaN        Sales
14      Eva  40.0    Male  user14@example.com  July 4, 2020    80000           HR
15    Frank  35.0   Other  user15@example.com           NaN      NaN        Admin
16    Grace  35.0   Other  user16@example.com    2021-05-21    70000          NaN
17   Hannah  35.0    Male  user17@example.com           NaN      NaN  Engineering
18      Ivy  30.0    Male  user18@example.com    2021-05-21    50000  Engineering
19     Jack  40.0    Male  user19@example.com           NaN    70000           HR
20    Alice  35.0    Male  user20@example.com    2021-05-21    50000  Engineering
21      Bob  35.0    Male  user21@example.com    22-06-2022  unknown        Sales
22  Charlie  30.0  Female  user22@example.com           NaN    60000          NaN
23    David  40.0  Female  user23@example.com           NaN      NaN    Marketing
24      Eva  35.0    Male  user24@example.com           NaN    60000  Engineering
25    Frank  25.0  Female  user25@example.com    22-06-2022    60000        Sales
26    Grace  40.0  Female  user26@example.com  July 4, 2020      NaN    Marketing
27   Hannah  30.0    Male  user27@example.com    2021-05-21    70000          NaN
28      Ivy  35.0  Female  user28@example.com    2020/01/01  unknown    Marketing
29     Jack  35.0   Other  user29@example.com    2021-05-21    50000        Sales
30    Alice  40.0  Female  user30@example.com    2021-05-21    80000        Admin
31      Bob  25.0  Female  user31@example.com  July 4, 2020    50000        Admin
32  Charlie  25.0    Male  user32@example.com    2021-05-21    80000    Marketing
33    David  35.0    Male  user33@example.com    22-06-2022    50000           HR
34      Eva  35.0    Male  user34@example.com    22-06-2022      NaN    Marketing
35    Frank  35.0    Male  user35@example.com           NaN  unknown  Engineering
36    Grace  30.0  Female  user36@example.com           NaN    80000  Engineering
37   Hannah  40.0    Male  user37@example.com    2020/01/01      NaN        Admin
38      Ivy  40.0     NaN  user38@example.com    2021-05-21    70000           HR
39     Jack  35.0   Other  user39@example.com    2021-05-21    50000        Sales
40    Alice  35.0  Female  user40@example.com  July 4, 2020    50000  Engineering
41      Bob  35.0    Male  user41@example.com           NaN    80000        Admin
42  Charlie  35.0     NaN  user42@example.com    22-06-2022    70000          NaN
43    David  35.0  Female  user43@example.com    2020/01/01    70000        Admin
44      Eva  35.0  Female  user44@example.com           NaN      NaN  Engineering
45    Frank  40.0    Male  user45@example.com    22-06-2022      NaN  Engineering
46    Grace  35.0  Female  user46@example.com           NaN      NaN        Admin
47   Hannah  40.0   Other  user47@example.com           NaN      NaN        Sales
48      Ivy  25.0     NaN  user48@example.com  July 4, 2020      NaN    Marketing
49     Jack  35.0  Female  user49@example.com  July 4, 2020      NaN  Engineering
50    Alice  35.0    Male  user50@example.com    2021-05-21      NaN        Admin
51      Bob  35.0   Other  user51@example.com           NaN  unknown        Admin
52  Charlie  35.0  Female  user52@example.com    2020/01/01    70000           HR
53    David  35.0     NaN  user53@example.com           NaN      NaN    Marketing
54      Eva  25.0  Female  user54@example.com    22-06-2022    70000          NaN
55    Frank  35.0    Male  user55@example.com           NaN    70000        Sales
56    Grace  30.0  Female  user56@example.com           NaN    60000          NaN
57   Hannah  40.0  Female  user57@example.com  July 4, 2020  unknown    Marketing
58      Ivy  25.0    Male  user58@example.com    2021-05-21      NaN    Marketing
59     Jack  40.0   Other  user59@example.com    2021-05-21    50000    Marketing
60    Alice  35.0  Female  user60@example.com           NaN    80000          NaN
61      Bob  30.0    Male  user61@example.com  July 4, 2020      NaN    Marketing
62  Charlie  30.0    Male  user62@example.com           NaN    50000        Admin
63    David  25.0   Other  user63@example.com    2020/01/01  unknown          NaN
64      Eva  30.0    Male  user64@example.com  July 4, 2020    80000    Marketing
65    Frank  35.0     NaN  user65@example.com           NaN  unknown        Admin
66    Grace  30.0   Other  user66@example.com           NaN    70000           HR
67   Hannah  40.0   Other  user67@example.com  July 4, 2020    80000    Marketing
68      Ivy  40.0  Female  user68@example.com           NaN    70000          NaN
69     Jack  35.0   Other  user69@example.com  July 4, 2020    50000  Engineering
70    Alice  40.0    Male  user70@example.com    22-06-2022    50000    Marketing
71      Bob  35.0   Other  user71@example.com  July 4, 2020    80000  Engineering
72  Charlie  40.0  Female  user72@example.com  July 4, 2020    80000        Admin
73    David  35.0  Female  user73@example.com           NaN      NaN           HR
74      Eva  35.0     NaN  user74@example.com           NaN  unknown        Sales
75    Frank  35.0    Male  user75@example.com    2021-05-21      NaN           HR
76    Grace  35.0  Female  user76@example.com    2021-05-21  unknown    Marketing
77   Hannah  25.0  Female  user77@example.com    22-06-2022      NaN  Engineering
78      Ivy  40.0   Other  user78@example.com    2021-05-21    70000  Engineering
79     Jack  30.0     NaN  user79@example.com  July 4, 2020    80000          NaN
80    Alice  40.0    Male  user80@example.com           NaN    50000  Engineering
81      Bob  30.0   Other  user81@example.com    2021-05-21  unknown          NaN
82  Charlie  35.0     NaN  user82@example.com    2021-05-21  unknown        Admin
83    David  35.0    Male  user83@example.com    22-06-2022    50000        Sales
84      Eva  35.0    Male  user84@example.com           NaN      NaN    Marketing
85    Frank  30.0    Male  user85@example.com    22-06-2022  unknown          NaN
86    Grace  40.0    Male  user86@example.com  July 4, 2020      NaN        Sales
87   Hannah  35.0    Male  user87@example.com           NaN    70000  Engineering
88      Ivy  35.0     NaN  user88@example.com    22-06-2022    80000  Engineering
89     Jack  35.0     NaN  user89@example.com    2021-05-21    50000        Sales
90    Alice  30.0  Female                   -           NaN    80000  Engineering
91      Bob  30.0  Female                   -           NaN      NaN        Admin
92  Charlie  40.0    Male                   -    2021-05-21  unknown        Admin
93    David  30.0    Male                   -    22-06-2022  unknown        Sales
94      Eva  30.0     NaN                   -    2021-05-21      NaN          NaN
95    Frank  35.0    Male                   -           NaN    50000          NaN
96    Grace  40.0    Male                   -           NaN    70000        Sales
97   Hannah  35.0    Male                   -    2020/01/01    60000          NaN
98      Ivy  35.0  Female                   -    2020/01/01    50000          NaN
99     Jack  35.0     NaN                   -  July 4, 2020    60000        Admin

C:\Users\shrdd\AppData\Local\Temp\ipykernel_16884\709399086.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Email'].fillna("-",inplace=True)

In [103]:


# from datetime import datetime

df['Join_Date'] = pd.to_datetime(df['Join_Date'], errors='coerce')

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        100 non-null    object
 1   Age         100 non-null    float64
 2   Gender      86 non-null     object
 3   Email       100 non-null    object
 4   Join_Date   24 non-null     datetime64[ns]
 5   Salary      74 non-null     object
 6   Department  84 non-null     object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 6.2+ KB

In [104]:

#handling Salary column

df["Salary"]=pd.to_numeric(df["Salary"],errors="coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        100 non-null    object
 1   Age         100 non-null    float64
 2   Gender      86 non-null     object
 3   Email       100 non-null    object
 4   Join_Date   24 non-null     datetime64[ns]
 5   Salary      60 non-null     float64
 6   Department  84 non-null     object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 6.2+ KB

In [106]:
x = df["Department"].mode()[0]
x

# df["Department"].fillna(x, inplace = True) 
# print(df.to_string())

'Engineering'

In [105]:
x = df["Department"].mode()[0]

df["Department"].fillna(x, inplace = True) 
print(df.to_string())

       Name   Age  Gender               Email  Join_Date   Salary   Department
0     Alice  35.0     NaN   user0@example.com 2021-05-21      NaN        Admin
1       Bob  40.0    Male   user1@example.com        NaT  50000.0  Engineering
2   Charlie  35.0    Male   user2@example.com        NaT  50000.0           HR
3     David  35.0     NaN   user3@example.com 2021-05-21  70000.0        Admin
4       Eva  35.0   Other   user4@example.com        NaT  70000.0  Engineering
5     Frank  35.0   Other   user5@example.com        NaT  70000.0        Admin
6     Grace  35.0  Female   user6@example.com        NaT  80000.0  Engineering
7    Hannah  35.0   Other   user7@example.com 2021-05-21      NaN           HR
8       Ivy  30.0  Female   user8@example.com        NaT  50000.0  Engineering
9      Jack  35.0    Male   user9@example.com        NaT  80000.0  Engineering
10    Alice  35.0    Male  user10@example.com 2021-05-21  70000.0  Engineering
11      Bob  35.0    Male  user11@example.com        NaT  50000.0        Sales
12  Charlie  35.0    Male  user12@example.com        NaT  80000.0        Sales
13    David  35.0   Other  user13@example.com        NaT      NaN        Sales
14      Eva  40.0    Male  user14@example.com        NaT  80000.0           HR
15    Frank  35.0   Other  user15@example.com        NaT      NaN        Admin
16    Grace  35.0   Other  user16@example.com 2021-05-21  70000.0  Engineering
17   Hannah  35.0    Male  user17@example.com        NaT      NaN  Engineering
18      Ivy  30.0    Male  user18@example.com 2021-05-21  50000.0  Engineering
19     Jack  40.0    Male  user19@example.com        NaT  70000.0           HR
20    Alice  35.0    Male  user20@example.com 2021-05-21  50000.0  Engineering
21      Bob  35.0    Male  user21@example.com        NaT      NaN        Sales
22  Charlie  30.0  Female  user22@example.com        NaT  60000.0  Engineering
23    David  40.0  Female  user23@example.com        NaT      NaN    Marketing
24      Eva  35.0    Male  user24@example.com        NaT  60000.0  Engineering
25    Frank  25.0  Female  user25@example.com        NaT  60000.0        Sales
26    Grace  40.0  Female  user26@example.com        NaT      NaN    Marketing
27   Hannah  30.0    Male  user27@example.com 2021-05-21  70000.0  Engineering
28      Ivy  35.0  Female  user28@example.com        NaT      NaN    Marketing
29     Jack  35.0   Other  user29@example.com 2021-05-21  50000.0        Sales
30    Alice  40.0  Female  user30@example.com 2021-05-21  80000.0        Admin
31      Bob  25.0  Female  user31@example.com        NaT  50000.0        Admin
32  Charlie  25.0    Male  user32@example.com 2021-05-21  80000.0    Marketing
33    David  35.0    Male  user33@example.com        NaT  50000.0           HR
34      Eva  35.0    Male  user34@example.com        NaT      NaN    Marketing
35    Frank  35.0    Male  user35@example.com        NaT      NaN  Engineering
36    Grace  30.0  Female  user36@example.com        NaT  80000.0  Engineering
37   Hannah  40.0    Male  user37@example.com        NaT      NaN        Admin
38      Ivy  40.0     NaN  user38@example.com 2021-05-21  70000.0           HR
39     Jack  35.0   Other  user39@example.com 2021-05-21  50000.0        Sales
40    Alice  35.0  Female  user40@example.com        NaT  50000.0  Engineering
41      Bob  35.0    Male  user41@example.com        NaT  80000.0        Admin
42  Charlie  35.0     NaN  user42@example.com        NaT  70000.0  Engineering
43    David  35.0  Female  user43@example.com        NaT  70000.0        Admin
44      Eva  35.0  Female  user44@example.com        NaT      NaN  Engineering
45    Frank  40.0    Male  user45@example.com        NaT      NaN  Engineering
46    Grace  35.0  Female  user46@example.com        NaT      NaN        Admin
47   Hannah  40.0   Other  user47@example.com        NaT      NaN        Sales
48      Ivy  25.0     NaN  user48@example.com        NaT      NaN    Marketing
49     Jack  35.0  Female  user49@example.com        NaT      NaN  Engineering
50    Alice  35.0    Male  user50@example.com 2021-05-21      NaN        Admin
51      Bob  35.0   Other  user51@example.com        NaT      NaN        Admin
52  Charlie  35.0  Female  user52@example.com        NaT  70000.0           HR
53    David  35.0     NaN  user53@example.com        NaT      NaN    Marketing
54      Eva  25.0  Female  user54@example.com        NaT  70000.0  Engineering
55    Frank  35.0    Male  user55@example.com        NaT  70000.0        Sales
56    Grace  30.0  Female  user56@example.com        NaT  60000.0  Engineering
57   Hannah  40.0  Female  user57@example.com        NaT      NaN    Marketing
58      Ivy  25.0    Male  user58@example.com 2021-05-21      NaN    Marketing
59     Jack  40.0   Other  user59@example.com 2021-05-21  50000.0    Marketing
60    Alice  35.0  Female  user60@example.com        NaT  80000.0  Engineering
61      Bob  30.0    Male  user61@example.com        NaT      NaN    Marketing
62  Charlie  30.0    Male  user62@example.com        NaT  50000.0        Admin
63    David  25.0   Other  user63@example.com        NaT      NaN  Engineering
64      Eva  30.0    Male  user64@example.com        NaT  80000.0    Marketing
65    Frank  35.0     NaN  user65@example.com        NaT      NaN        Admin
66    Grace  30.0   Other  user66@example.com        NaT  70000.0           HR
67   Hannah  40.0   Other  user67@example.com        NaT  80000.0    Marketing
68      Ivy  40.0  Female  user68@example.com        NaT  70000.0  Engineering
69     Jack  35.0   Other  user69@example.com        NaT  50000.0  Engineering
70    Alice  40.0    Male  user70@example.com        NaT  50000.0    Marketing
71      Bob  35.0   Other  user71@example.com        NaT  80000.0  Engineering
72  Charlie  40.0  Female  user72@example.com        NaT  80000.0        Admin
73    David  35.0  Female  user73@example.com        NaT      NaN           HR
74      Eva  35.0     NaN  user74@example.com        NaT      NaN        Sales
75    Frank  35.0    Male  user75@example.com 2021-05-21      NaN           HR
76    Grace  35.0  Female  user76@example.com 2021-05-21      NaN    Marketing
77   Hannah  25.0  Female  user77@example.com        NaT      NaN  Engineering
78      Ivy  40.0   Other  user78@example.com 2021-05-21  70000.0  Engineering
79     Jack  30.0     NaN  user79@example.com        NaT  80000.0  Engineering
80    Alice  40.0    Male  user80@example.com        NaT  50000.0  Engineering
81      Bob  30.0   Other  user81@example.com 2021-05-21      NaN  Engineering
82  Charlie  35.0     NaN  user82@example.com 2021-05-21      NaN        Admin
83    David  35.0    Male  user83@example.com        NaT  50000.0        Sales
84      Eva  35.0    Male  user84@example.com        NaT      NaN    Marketing
85    Frank  30.0    Male  user85@example.com        NaT      NaN  Engineering
86    Grace  40.0    Male  user86@example.com        NaT      NaN        Sales
87   Hannah  35.0    Male  user87@example.com        NaT  70000.0  Engineering
88      Ivy  35.0     NaN  user88@example.com        NaT  80000.0  Engineering
89     Jack  35.0     NaN  user89@example.com 2021-05-21  50000.0        Sales
90    Alice  30.0  Female                   -        NaT  80000.0  Engineering
91      Bob  30.0  Female                   -        NaT      NaN        Admin
92  Charlie  40.0    Male                   - 2021-05-21      NaN        Admin
93    David  30.0    Male                   -        NaT      NaN        Sales
94      Eva  30.0     NaN                   - 2021-05-21      NaN  Engineering
95    Frank  35.0    Male                   -        NaT  50000.0  Engineering
96    Grace  40.0    Male                   -        NaT  70000.0        Sales
97   Hannah  35.0    Male                   -        NaT  60000.0  Engineering
98      Ivy  35.0  Female                   -        NaT  50000.0  Engineering
99     Jack  35.0     NaN                   -        NaT  60000.0        Admin

C:\Users\shrdd\AppData\Local\Temp\ipykernel_16884\2934730187.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Department"].fillna(x, inplace = True)

In [107]:
#Make new file of clean data

df.to_csv('Cleaned Data')